<div class="map-lg">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
  <div id='map' style='width: 100%; height: 100%;'></div>
    <% token = "pk.eyJ1IjoicGlvdHItZGUiLCJhIjoiY2s2YzdpcngxMDgydzNscXh6NGUwMXpwdCJ9.zU1s4Q3hB2Jz-3mqbRcAng" %>
    <% url = "https://api.mapbox.com/geocoding/v5/mapbox.places/#{@flat.address.gsub("\s", "%20")}.json?access_token=#{token}" %>
    <% coords = JSON.parse(RestClient.get(url))["features"][0]["center"] %>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoicGlvdHItZGUiLCJhIjoiY2s2YzdpcngxMDgydzNscXh6NGUwMXpwdCJ9.zU1s4Q3hB2Jz-3mqbRcAng';
      var map = new mapboxgl.Map({
      center: <%= coords %>,
      zoom: 12,
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
      });
      var marker = new mapboxgl.Marker()
        .setLngLat(<%= coords %>)
        .addTo(map);
    </script>
  </div>
<div class="row">
  <div class="col-8">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
    <h3>A little more about this flat...</h3>
    <p><%= @flat.description %></p>
    <p>
      <%= icon("fas", "dollar-sign") %>&nbsp;<%= @flat.price_per_night %>
      &nbsp;
      <%= icon("fas", "user-friends") %>&nbsp;<%= @flat.number_of_guests %>
    </p>
  </div>
  <div class="col-4">
    <div class="form-group">
      <h6>Book this place</h6>
      <form action="#">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">From:</span>
            </div>
            <input type="date" name="checkin" class="form-control">
          </div>
        </div>
        <div class="form-group">
           <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">To:</span>
            </div>
            <input type="date" name="checkout" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success w-100" value="Book">
        </div>
      </form>
    </div>
  </div>
</div>



