<h1><%= @flat.name %></h1>
<div class="img-lg">

</div>
<p><%= @flat.description %></p>
<p>
  <%= icon("fas", "dollar-sign") %>&nbsp;<%= @flat.price_per_night %>
  &nbsp;
  <%= icon("fas", "user-friends") %>&nbsp;<%= @flat.number_of_guests %>
</p>
